Data from "United States Summary: 2010, Population and Housing Unit Counts, 2010 Census of Population and Housing".  
https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area#cite_note-2010census-2

In [1]:
import pandas as pd

List of states.

In [3]:
state_lst = '''Alaska
 Texas
 California
 Montana
 New Mexico
 Arizona
 Nevada
 Colorado
 Oregon
 Wyoming
 Michigan
 Minnesota
 Utah
 Idaho
 Kansas
 Nebraska
 South Dakota
 Washington
  North Dakota
 Oklahoma
 Missouri
 Florida
 Wisconsin
 Georgia
 Illinois
 Iowa
 New York
 North Carolina
 Arkansas
 Alabama
 Louisiana
 Mississippi
 Pennsylvania
 Ohio
 Virginia
 Tennessee
 Kentucky
 Indiana
 Maine
 South Carolina
 West Virginia
 Maryland
 Hawaii
 Massachusetts
 Vermont
 New Hampshire
 New Jersey
 Connecticut
 Delaware
 Rhode Island'''

List of land area in the same order.

In [4]:
area_lst = '''1,477,953
676,587
403,466
376,962
314,161
294,207
284,332
268,431
248,608
251,470
146,435
206,232
212,818
214,045
211,754
198,974
196,350
172,119
178,711
177,660
178,040
138,887
140,268
148,959
143,793
144,669
122,057
125,920
134,771
131,171
111,898
121,531
115,883
105,829
102,279
106,798
102,269
92,789
79,883
77,857
62,259
25,142
16,635
20,202
23,871
23,187
19,047
12,542
5,047
2,678'''

In [5]:
state_lst = [x.strip() for x in state_lst.split('\n')]

In [6]:
area_lst = [x.strip().replace(',', '') for x in area_lst.split('\n')]

In [7]:
df = pd.DataFrame(zip(state_lst, area_lst), columns=['state', 'area'])

In [8]:
df.head()

        state     area
0      Alaska  1477953
1       Texas   676587
2  California   403466
3     Montana   376962
4  New Mexico   314161

Converting state names to related abbreviation to conform with wildfires df.

In [9]:
abbr_dict = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [10]:
f = lambda x: abbr_dict[x]

df['state'] = df['state'].map(f)

Converting area to numeric type

In [15]:
df.area = pd.to_numeric(df.area)

In [39]:
df.to_csv('state_area.csv')